@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

.nav.navbar-nav li a {
    color: rgb(216, 216, 216) !important;
}
.nav.navbar-nav li a:hover, .nav.navbar-nav li a:active, .nav.navbar-nav li a:after {
    color: white !important;
    background-color: #505050;
}
.active a{
	color: black !important;
}
.navbar{
	margin-bottom: 0px !important;
}
.navbar-default li{
	list-style-type: none;
	font-size: 130%;
}
.navbar-default{
	background-color:#2a2a2a;
	border: 0;
}
.navbar-default li:hover{
	background-color: #2a2a2a;
}
.dropdown-menu a{
	color: black !important;
}
.dropdown-menu{
    background-color: #404040 !important;
}
.dropdown-menu ul{
    background-color: #404040;
}
.navbar-brand{
	color: White !important;
}
.row{
	padding-bottom: 10px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.dropdown a{
    background-color: #404040;
}

.navbar-collapse {
    border-top: 0px !important;
}



@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}


.row{
	padding-bottom: 10px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}



/* BEGIN HOOFDPAGINA */
*{
	padding: 0px;
	margin: 0px;
}

body{
 	font-family:Arial, sans-serif;
	background-color: #3e3e3e;
	color: #bbb;
 	overflow-x: hidden;
}

/* uitleg */
#uitleg{
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 130%;
	padding-top: 15px;
}

.achtergrond{
	background-image: url("/afbeeldingen/achtergrond.png");
	background-position: top center;
}

/* foto */
#fotoJens{
	margin-top: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* linken Foto */
.icons{
	background-color: #2a2a2a;
	padding: 40px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

.icons a{
	top: 0px;
	padding: 4px;
	text-decoration: none;
}

.titelFoto{
	padding-top: 10px;
	font-size: 210%;
	text-align: center;
}

.recent{
	background-color: #303030;
	padding: 20px;
}

.recent h3{
	margin-top: 10px;
}

/* iframe's */
iframe{
	position:relative;
	border-color: black;
	/* position: center; */
	padding: 0px;
}

.container{
	padding-top: 20px;
	margin-top: 10px;
	margin-bottom:	10px;
}

#video iframe{
	margin-top: 15px;
}

/* Einde Hoofdpagina */

/* Begin over pagina */
/* content verplaatsen */
#content, #content1{
	margin-top: 40px;
}

/* foto jens/Jasper */
#Jens{
	margin-left: 10%;
	margin-bottom: 15px;
}

#Jasper{
	margin-left: 70%;
	margin-bottom: 15px;
}

/* beschrijving */
#kort{
	position: absolute;
	margin-left: 600px;
	margin-top: -180px;
	width: 50%;
	font-size: 130%;
	padding: 5px;
}

#diep p{
	font-size: 130%;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
}

#kortJasper{
	position: absolute;
	margin-left: 200px;
	margin-right: 100px;
	margin-top: -220px;
	width: 60%;
	font-size: 130%;
   	padding: 5px;
}

#diepJasper p{
	font-size: 130%;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1550px) {
    #kortJasper{
		margin-left: 150px !important;
	}
}

@media (max-width: 1190px) {
    #kortJasper{
		margin-left: 120px !important;
	}
}

@media (max-width: 991px) {
    #Jens, #Jasper{
		margin-left: 0px;
	}

	#Jens img, #Jasper img{
		margin-left: auto;
		margin-right: auto;
		width: 35%;
		margin-bottom: 20px;
	}
}
/* Einde over pagina */

/* Begin Video's Pagina */
#Mine,#Ander{
	text-align: center;
	margin: 10px;
	height: 50px;
	padding: 5px 0px;
}

#Minecraft{
	padding-top: 20px;
}

.videoTitel{
	background-color: #2a2a2a;
	text-align: center;
}

@media (max-width: 767px) {
    .vids{
		padding-bottom: 3px;
	}
}

/* Einde Video's Pagina */

/* Begin Andere Video's pagina */
#AnderVid{
	text-align: center;
}

#Andere{
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-ex1-collapse{
	font-size: 130%;
}
/* Einde Andere Video's Pagina */

/* Begin Extra pagina */
.berichten p{
    font-size: 130%;
	background-color: #303030;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
	padding-left: 10px;
}

.berichten{
	margin-top: 25px;
	margin-bottom: 20px;
}

.aankondigingen p{
	font-size: 130%;
	background-color: #303030;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
	padding-left: 10px;
}

.aankondigingen{
	margin-top: 25px;
}


@media (max-width: 990px) {
    .berichten{
		margin-top: 10px;
		margin-bottom: -7px;
	}

	.online{
		margin-top: 10px;
	}
}

.BerichtTitel{
	text-align: center;
}

.AankondigengenTitel{
	text-align: center;
	margin-bottom: 20px;
}
/* Einde extra pagina*/


/* begin Downloads pagina */
h1 {
	text-align: center;
}

h2.titelsDown {
	color: white;
	margin-bottom: 10px;
	background-color: #7D1935;
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 10px;
	padding-top: 5px;
	height: 40px;
}
/* Einde Downloads pagina */

/* Begin Contact pagina */
#contact1{
	font-size:3em;
	color:white;
	text-align: center;
	margin: 10px;
}

#contact2{
	text-align: center;
	font-size:1.8em;
	color:white;
	margin: 10px;
}

#contact3{
	font-size:3em;
	color:white;
	text-align: center;
	margin: 10px;
}

#contact4{
	text-align: center;
	font-size:1.8em;
	color:white;
	margin: 10px;
}

#bericht{
	margin-bottom: 30px;
}

#bericht p{
    font-size: 110%;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	padding-left: 10px;
	margin: 15px;
}

#berichtJasper{
	margin-bottom: 40px;
}

#berichtJasper p{
    font-size: 140%;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	margin: 15px;
}
/* Einde contact pagina */

/*Begin Downloads pagina*/
.muziek{
	margin-top: 25px;
	margin-bottom: 20px;
}

.music{
	font-size: 150%;
	text-align: center;
}

.music li{
	list-style-type: none;
	margin-bottom: 10px;
}

#note, #note1{
	display: block;
	margin: 0 auto;
}

.pluginsDownload{
	margin-top: 25px;
	margin-bottom: 20px;
}

.Plugins li{
	list-style-type: none;
}

.Plugins img{
	display: block;
	margin: 0 auto;
}

h3{
	text-align: center;
}

.tekstPlugin{
	text-align: center;
	padding-bottom: 50px;
	color: white;
}

.pluginAfbeeldingen{
	padding-bottom: 50px;
}

.vehicles, .audio{
	padding-top: 50px;
}

/*Einde downloads pagina*/


/* Dashboard */
#minecraftVidTitel{
	margin-top: 28px;
}

#andereVidTitel{
	margin-top: 28px;	
}

#sectionHeadPage{
	overflow: auto;
	margin-top: 5px;
}

.knopTekstEditor{
	text-align: center;
	padding-top: 7%;
}

.panelFooter{
	text-align: center;
}

.vidLink, .bericht, .aankonding{
	color: black;
	width: 100%;
    padding: 12px 10px;
	margin: 8px 0;
	box-sizing: border-box;
}

.submitButton{
	color: black;
	text-align: center;
	font-size: 130%;
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

.AnulateButton{
	color: black;
	text-align: center;
	font-size: 130%;
	background-color: maroon; /* red */
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

.submitButtonDelete{
	color: black;
	text-align: center;
	font-size: 130%;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

.centerModal{
	text-align: center !important;
}

textarea {
    resize: none;
}

#vidLinkTekst, #tekstFronpage, #vid1Label, #vid2Label, #vid3Label, #bericht, #aankondiging{
	font-size: 130%;
}

.vidLabel{
	font-size: 130%;
}

.vidFrontDash{
	margin-top: -40px;
}

@media (max-width: 768px) {
    #tekstFrontVoorbeeld{
		border: 0 !important;
	}
}

.vid{
	border-style: solid;
    border-width: 5px;
	border-color: gray;
}

@media (max-width: 768px) {
    .vidFrontDashTransform {
		margin-top: 65px;
	}
}

.vidsDashboard{
	margin-bottom: 8px;
}

.hoofdPag{
	position:relative;
}

@media (max-width: 768px) {
    #tekstFrontVoorbeeld{
		border: 0 !important;
	}
}

#tekstFrontVoorbeeld{
	border-right: 1px solid;
	color: white;
}

.centerVidLink, .centerBericht{
	text-align: center;
}

.centerBericht{
	height:50%;
}

.centerVidLinkPres{
	padding-top: 110px;
}

#tekstFronpageEdit, #berichtTekst{
	color: black;
	z-index: 1000;
	/* resize: none; */
}

#sectionVideosHomeMinecraft, #sectionTeksten{
	margin-bottom: 30px;
	overflow: auto;
}

.rijOneven{
	margin-top: 50px;
}

.rijen{
	margin: 0 auto;
}

hr {
    border: 0;
    height: 4px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.notLink{
	color: #bbbbbb;
}

.notLink:hover{
	color: #bbbbbb;
	text-decoration: none;
}

.labelsVids{
	padding-top: 40px;
}

.berichtenDashboard{
	margin-left: 100px;
	color: white;
}

@media (max-width: 767px) {
    .berichtenDashboard {
		margin-left: 0px !important;
	}
}

@media (min-width: 767px) {
    .knoppen {
		left: -25%;
	}
}

/* Dashboard */

/* footer */
footer{
	/* background-color: #7D1935; */
	padding: 5px 10px;
	font-size: 90%;
	bottom: 0px;
	position: relative;
	width: 100%;
}

footer a{
	padding: 0px 5px;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	color:white;
}

.copy{
	float: right;
	padding: 10px;
}
/* Footer */

/* scrollspy */
#Top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 0px;
	z-index: 99;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
  }
  
  #myBtn:hover {
	background-color: #555;
  }
  /* scrollspy */

  /* Scrollbar */
  /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #606060;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #999; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3; 
}
/* Scrollbar */

/* Kleur als je iets selecteerd */
::selection {
    background-color: #808080;
    color: #b3b3b3;
}

/* Aanvragen */
[required]::after {
    content: " *";
    color: red;
}

#aanvraagTitle{
	font-size: 24px;
}

#tableAanvragen{
	margin-top: 20px;
}

#tableAanvragen td{
	padding-bottom: 17px;
}

#tableAanvragen th{
	padding-bottom: 12px;
}

#typeSelect, #linkInput{
	color: #606060;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	background-color: #fcfcfc;
	height: 29px;
	overflow: hidden;
	border: none;
}

#linkInput{
	height: 35px;
}

#infoInput{
	color: #606060;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fcfcfc;
}

#submitAanvraag{
	text-align: center;
	font-size: 115%;
	background-color: #2a2a2a; /* Green */
    border: none;
    color: white;
    padding: 8px 13px;
    text-decoration: none;
	display: inline-block;
	border-radius: 5px;
}

.aanvragen p {
	font-size: 130%;
	border-radius: 10px;
    padding: 5px;
    margin: 10px;
    padding-left: 10px;
}

.separation{
	padding-bottom: 50px;
}

.bijschrift{
	padding-top: 15px !important;
	font-size: 100% !important;
	background-color: transparent !important;
}

.bijschrift2{
	font-size: 100% !important;
	background-color: transparent !important;
}